<!DOCTYPE html>

<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>

        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">

                <div class="d-grid gap-2 col-6 mx-auto">
                    <span class="text-muted">Seleccione la accion que desee</span><br />
                    <button type="button" class="btn btn-outline-secondary">@Html.ActionLink("Inicio", "Index")</button>
                    <button type="button" class="btn btn-outline-secondary">@Html.ActionLink("Agregar Aprendiz", "Create")</button>
                    <button type="button" class="btn btn-outline-secondary">@Html.ActionLink("Mostrar Todos Los Aprendices", "BuscarTodos")</button>
                </div>

            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <hr />
        @RenderBody()
        <hr />

        <h3 class="text-center">Copyright © 2021 <strong>OSORIO_99</strong></h3>
    </div>
</body>
</html>
